body{
  background-image: url('../src/components/assets/svg/background.svg');
  background-color: #E3F8FF;
  font-family: 'Alexandria', sans-serif;
  background-repeat: no-repeat;
  /* background-size: cover */
}